# Build files
*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx

# Local config
/local.properties

# IDE
/.idea
.DS_Store

# Keystore (kalau ada signing config)
*.jks
*.keystore

# Firebase (uncomment kalau nggak mau file config ke-share ke semua kolaborator)
google-services.json
client_secret_412094061230-ljosb96aos8vp1gdumbc3l29ut5tnl8j.apps.googleusercontent.com.json